<!DOCTYPE project>
<project default="checkstyle" basedir=".">

    <property file="global.properties" />

    <target name="-echo">
        <echo>Inspecting code with CheckStyle using these parameters:</echo>
    </target>

    <target name="checkstyle" depends="-echo">
        <echo>CheckStyle pending...</echo>
    </target>

</project>